.navdiv, .bio, .projectContainer{
    display: grid;
}
.projectContainer{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}
.pseudoBody{
    position: relative;
}

.intro{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 35px;
}
.navdiv{
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.links{
    /* align-content: center;
    display: flex;
    justify-content: space-around; */
    grid-area: 1 / 2 / 2 / 5;
}
.links a{
    border-left: 1x solid white;
    border-right: 1px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* .links a:visited{
    text-decoration: none;
    color: White;
}
.links a:hover{
    color: black;
    background-color: white;
} */

.socials{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start of the container (upper edge) */
    align-items: flex-end; /* Align items to the end of the container (right edge) */
    position: fixed; /* Fix the position so it stays in place while scrolling */
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
}

.footer{

    position: absolute;
    text-align: center;
    font-size: 200%;

    right: 50%;
    bottom: 0;
    
    
  
   
    
}

.project, .intro, .bio, .footer{ 
    color: white;
}

.intro, .bio, .description{
    text-align: justify;
}
.description{
    padding-left: 1.5vw;
}
.bio{
    font-size: 150%;
    margin-right: 100px;
    padding-left: 50px;
}
.img{
    -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    border-radius: 50%;
    width:25%;
    height: 50%;
    float: left;
    margin-left: 100px;
}

.photo{
    width: 25%;
    height: 50%;
    float: left;
}

.project{
    padding: 5vh;
   
    display: block;
    font-size: 18px;
    
}

.container{
    text-align: center;
    border: none;
    padding: 1vh;
}

.buttonNav{
    display: inline-block; /* Make the button a block-level element to take up the full width available */
    margin: 0 auto; /* Center the block-level element horizontally using auto margins */
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 25px;
    min-height: 5vh;
    min-width: 5vw;
    font-size: 2em;
}

.svg{
    padding: 1vw;
}