.navdiv, .bio{
    display: grid;
}
.bio{
    margin-right: 100px;
}
.navdiv{
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.links{
    /* align-content: center;
    display: flex;
    justify-content: space-around; */
    grid-area: 1 / 2 / 2 / 5;
}
.links a{
    border-left: 1x solid white;
    border-right: 1px solid white;
    text-decoration: none;
    background-color: none;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.links a:visited{
    text-decoration: none;
    color: White;
}
.links a:hover{
    color: black;
    background-color: white;
}

.footer{
    
    width: 55px;
    height: 50px;
    /* margin-right: 50%;
    margin-left: 50%; */
    margin: 0 auto;
    
}

.text, .intro{ 
    text-align: justify;
    color: white;
}

.intro{
    font-size: 200%;
    margin-right: 500px;
    padding-left: 50px;
}
.img{
    -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    border-radius: 50%;
    width:25%;
    height: 50%;
    float: left;
    margin-left: 100px;
}